#displayContent {
 display: none;
 text-align: center;
 margin-top: 40vh;
 transform: translateY(-50%);
}

#middle{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    margin-top: 30%;
    background-color: #cfe3e9;
    animation: middle 3s cubic-bezier(0.64, 0, 0.78, 0) 0s infinite normal forwards;
}

@keyframes middle {
    0%,
    100% {
      transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70% {
      transform: translateX(-10px);
    }
  
    20%,
    40%,
    60% {
      transform: translateX(10px);
    }
  
    80% {
      transform: translateX(8px);
    }
  
    90% {
      transform: translateX(-8px);
    }
  }

  #middle2{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    margin-top: 30%;
    background-color: #327eaa;
    animation: middle 3s cubic-bezier(0.64, 0, 0.78, 0) 0s infinite normal forwards;
}

#middle3{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    margin-top: 30%;
    background-color: #111213;
}

#loadingAnimation {
 position: absolute;
 left: 45%;
 top: 40%;
 width: 12vh;
 height: 12vh;
 border: 16px solid #24212100;
 border-radius: 50%;
 border-top: 16px solid #24212100;
 animation: spin 2s linear infinite;
}

@keyframes spin {
 0% { transform: rotate(0deg); }
 100% { transform: rotate(360deg); }
}
